---
layout: default
permalink: /
---

       
 {% include hero.html %}


       <section id="postpone" class="about"> <h5>
                     We have made the difficult decision to postpone the <br>ResBaz Qld Conference due to the COVID and flu peak forecast for Brisbane. <br><br>
              </h5>
              <h6>
                     We've reached this decision after much consideration, as the health and safety of our attendees, teachers, helpers and volunteers are our top priority. <br><br>

                     We aim to reschedule Resbaz Qld to the 1-3rd Nov.  All attendees will be refunded. <br><br>

                     We would like to thank everyone who has been working with us so far, and hope to continue working with you to bring Resbaz together later in the year. 
              </h6>
       </section>


 {% include about.html %}

 {% include rockstar-speakers.html %}

 {% include location-map-new.html %}
 
 {% include twitter-feed.html %}

 {% include partnersFrontPage.html %}
