---
layout: default
title: Getting here
permalink: /transport/
modal: all
image: stones.jpg
---

{% include top-section.html %}
<section>

How to get to Resbaz?

Resbaz will be at Nathan campus, behind the library in N53. 
 {% include location-map-new.html %}

Getting to campus

Nathan location

Driving and parking


Public transport
<div class="slot-content">

At campus?
Campus map
How to get there. 

Free bus from the South East busway (Mt Gravatt/ Griffith University Busway station ) to Nathan campus.
<a href="https://intranet.secure.griffith.edu.au/__data/assets/pdf_file/0024/76371/2019-March-Bus_timetable_nontri_dig.pdf?_gl=1*13aewp2*_ga*NzczOTk4NzQxLjE2NDU1ODA1OTU.*_ga_5GKYJEBSN9*MTY2MTMwMzA3Ni44Ni4wLjE2NjEzMDMwNzYuMC4wLjA.">link</a>

</div>

<section>
