---
layout: default
title: Getting here
permalink: /transport/
modal: all
image: Reeds_ResbazQld_NathCampus.jpg
---

{% include top-section.html %}
<section>

<h2>How to get to Resbaz?<h2>

Resbaz will be at Nathan campus, behind the library in N53. 
 
 {% include location-map.html %}

<h4>Getting to campus</h4>

Nathan location

<h4>Driving and parking</h4>


<h4>Public transport</h4>

Griffith University Nathan Campus, West Creek Road, Nathan QLD via <a href='https://jp.translink.com.au/plan-your-journey/journey-planner'>Translink</a>
 
Free bus from the South East busway (Mt Gravatt/ Griffith University Busway station ) to Nathan campus.
<a href="https://intranet.secure.griffith.edu.au/__data/assets/pdf_file/0024/76371/2019-March-Bus_timetable_nontri_dig.pdf?_gl=1*13aewp2*_ga*NzczOTk4NzQxLjE2NDU1ODA1OTU.*_ga_5GKYJEBSN9*MTY2MTMwMzA3Ni44Ni4wLjE2NjEzMDMwNzYuMC4wLjA.">link</a>



<h4>At campus?</h4>

Resbaz will be located at N53 (beind the library) and N02. 
 
<embed src="https://www.griffith.edu.au/campus-maps/nathan-map" style="width:500px; height: 300px;"> 


<section>
