<!-- Begin Location Section -->
<section id="location-map-new">
    <div class="content-wrapper">
        <!--<iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJM-J1S-NHDW0RI_W_HfHjF7s&key=AIzaSyD5mvlXEht9IGWeSJTNaAOa4lSNETzmyrA&zoom=17"></iframe>-->
        <iframe src="https://www.google.com.au/maps/place/Advanced+Engineering+Building/@-27.4995594,153.0126266,17z/data=!3m1!4b1!4m5!3m4!1s0x6b915082e304d27f:0xc483376ef11fd374!8m2!3d-27.4995594!4d153.0148153" height="450" style="width: 100%; border:0;" allowfullscreen="" loading="lazy"></iframe>   
    
    </div>
</section>
<!-- End Location Section -->

